streamlit
pandas
pymorphy2

numpy
matplotlib
nltk
pillow
openpyxl

telethon
datetime
asyncio

seaborn
scikit-learn==1.0.2

httpx
feedparser

pyLDAvis==3.4.1
xlwt

scipy<1.13
gensim